body{
      background-color:rgb(241, 245, 239);
    }

    .flex{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 1px;
    }

    .collapsible{ 
      border-radius: 10px;
      width: 90%;
      max-width: 1200px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      color: white;
      font-weight: bold;
      border:none;
      margin-top: 20px;
      margin: 0 auto;
      text-align: center;
      cursor: pointer;
      background-color: black;
      padding-top: 10px;

    }

    .collapsible:hover{
      background-color: black;
    }

    .slide-down-text{
      border-radius: 10px;
      overflow: hidden;
      width: 90%;
      color: white;
      max-width: 1200px;
      max-height: 0;
      margin: 0 auto;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      transition: max-height 0.4s ease-out, padding 0.3s;
      background-color:black;
      padding: 0px 20px;
    }

    .slide-down-text.open{
      max-height: 500px;
      padding: 10px 0px;
    }